In [1]:
from adabas.api import *
import struct
from datetime import date
a=Adabas(fbl=12,rbl=1024) 
a.cb.dbid=12              
a.cb.fnr=11

In [2]:
a.fb.value='AA,AH.'
a.cb.isn=0

In [20]:
a.getiseq()
print '{:30} - len = {}'.format(a.rb.value, len(a.rb.value))

50005300ï¿½L                   - len = 12

In [21]:
print '{} - {}'.format(a.rb.value[:8], 
                           date.fromordinal(int(a.rb.value[8:].encode('hex')[1:-1])-364))

50005300 - 1952-01-23

In [15]:
data =date(1956,06,24)
toord = data.toordinal()
toord

714224

In [17]:
datan =date(1955,06,26)
toordn = datan.toordinal()
toordn

713860

In [18]:
toord - toordn

364

In [ ]:
datetime.datetime.toordinal(datetime.datetime.today())

In [ ]:
datetime.datetime.date(736487)